.trae/**
.vscode/**
.vscode-test/**
src/**
.gitignore
.yarnrc
vsc-extension-quickstart.md
**/tsconfig.json
**/eslint.config.mjs
**/*.map
**/*.ts
**/.vscode-test.*
.idea/**
.git/**
tsconfig.json
eslint.config.mjs
workflow/!(postinstall).js
node_modules/**
tests/**
jest/**
@types/**
.cocos/**
.user.json
.npmmrc
.publish/**